<div class="row ">
	<div  class="col-xs-12 col-md-12  ">
    	<h1 style="text-align:center;">FieldConnect V 1.0 </h1>
		<p style="text-align:center;">build 100</p>
		<p style="text-align:center;">Letsapp Limited copy right 2019</p>

<br>
		<p>Create work record on personal computer</p>
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/a9pE5OWBHeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>

		<p>FieldConnect : How to create work record on mobile phone 外務妥:手機上做工作記錄</p>
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/0gOodFSY4wU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>
	<br><br>
</div>
