<p>你好 <%= @resource.email %>!</p>

<p>有人要求提供更改密码的链接。 您可以通过下面的链接进行操作</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有要求，请忽略此电子邮件。</p>
<p>除非您访问上面的链接并创建一个新密码，否则您的密码不会更改。</p>

<p>客户服务</p>
<p>外务妥</p>